<nav class="float-left" data-th-fragment="navbarleft">
    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-danger" href="/systemReseau" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                System & Réseau
            </a>
            <div class="dropdown-menu text-danger" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-danger" href="/procedure">Sous-titre</a>
                <a class="dropdown-item text-danger" href="/procedure">Sous-titre2</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-danger" href="/telephonie" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Téléphonie
            </a>
            <div class="dropdown-menu text-danger" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-danger" href="/procedure">Sous-titre</a>
                <a class="dropdown-item text-danger" href="/procedure">Sous-titre2</a>
            </div>
        </li>


    </ul>
</nav>