<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<div data-th-replace="fragments/head.html::head"></div>


<body class="">
<div class=" bg-light container col-8  border border-danger shadow-lg" style="height:1200px;">
<div data-th-replace="fragments/navbar.html::navbar"></div>

    <h1 class="text-center">Systeme & Reseau</h1>

<div data-th-replace="fragments/navbarleft.html::navbarleft"></div>
<div class="container col-10">
    <div data-th-replace="fragments/systemtable.html :: sysTable"></div>
</div>


</div>

</body>
</html>